.disabled {
  opacity: 0.5!important;
  cursor: no-drop !important;
}
.btn {
  outline: none;
  cursor: pointer;
  border: none;
  color: #888;
  font-size: 12px;
  padding: 9px 15px;
  border: 1px solid #f2f2f2;
  border-radius: 6px;
  margin-right: 6px;
  background-color: #fff;
}
.btn i {
  margin-right: 10px;
}
.btn.loading {
  opacity: 0.6!important;
  cursor: no-drop !important;
}
.btn.loading i {
  animation: fa-spin 2s infinite linear;
}
.btn.loading i:before {
  content: "\f110";
}
.btn.danger {
  border: none;
  background-color: #ed3f14;
  color: #fff;
}
.btn.success {
  border: none;
  background-color: #19be6b;
  color: #fff;
}
.btn.warning {
  border: none;
  background-color: #ff9900;
  color: #fff;
}
.btn.active,
.btn.fezocms {
  border: none;
  background-color: #2d8cf0;
  color: #fff;
}
.btn:hover {
  opacity: 0.8;
  transition: all 0.7s;
  -moz-transition: all 0.7s;
  /* Firefox 4 */
  -webkit-transition: all 0.7s;
  /* Safari 和 Chrome */
  -o-transition: all 0.7s;
  /* Opera */
}
.btn.blue-o {
  background-color: transparent;
  border: 1px solid #2d8cf0;
  color: #2d8cf0;
}
.table-list {
  width: 100%;
  border-radius: 4px;
  float: left;
  border-collapse: collapse;
  border: 0;
  cellspacing: 0;
  cellpadding: 0;
  border-radius: 12px;
}
.table-list th {
  background: #f9f9f9;
  border: none;
  text-align: left;
  padding: 14px 0 14px 0;
  font-weight: 400;
  font-size: 12px;
  color: #555;
  padding-left: 25px;
}
.table-list th i {
  position: relative;
  top: -3px;
  margin-left: 5px;
}
.table-list td {
  border: none;
  border-bottom: 1px solid #f5f5f5;
  font-size: 14px;
  background-color: #fff;
  font-weight: 400;
  padding: 18px 25px;
  color: #888;
}
.table-list tr:hover {
  background-color: #f9f9f9;
  transition: background 0.2s;
}
.table-list a {
  text-decoration: none;
  color: #348ec7;
}
.table-list i {
  margin-right: 15px;
  cursor: pointer;
}
.table-list i:hover {
  color: #cc0000;
}
.popup .close {
  -webkit-animation: zoomOut 0.4s;
  -moz-animation: zoomOut 0.4s;
  -ms-animation: zoomOut 0.4s;
  animation: zoomOut 0.4s;
}
@-webkit-keyframes zoomOut {
  0% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  50% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
  }
  100% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
@-moz-keyframes zoomOut {
  0% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  50% {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-transform: scale3d(0.3, 0.3, 0.3);
  }
  100% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
@-o-keyframes zoomOut {
  0% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  50% {
    opacity: 0;
    filter: alpha(opacity=0);
    -o-transform: scale3d(0.3, 0.3, 0.3);
  }
  100% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
@-ms-keyframes zoomOut {
  0% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  50% {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
  }
  100% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
@keyframes zoomOut {
  0% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  50% {
    opacity: 0;
    filter: alpha(opacity=0);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  100% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
.popup .in {
  -webkit-animation: fadeInDown 0.5s;
  -moz-animation: fadeInDown 0.5s;
  -ms-animation: fadeInDown 0.5s;
  animation: fadeInDown 0.5s;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: none;
  }
}
@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
    -moz-transform: none;
  }
}
@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -o-transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
    -o-transform: none;
  }
}
@-ms-keyframes fadeInDown {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
    transform: none;
  }
}
.popup .popup-opacity {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 11, 11, 0.6);
}
.popup .popup-sure {
  width: 450px;
  background-color: #fff;
  position: fixed;
  top: 10%;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 15px 25px 11px 25px;
  box-shadow: 0 0 10px -10px #333333;
  border-radius: 5px;
}
.popup .popup-sure li {
  float: left;
  width: 100%;
  margin: 3px 0;
  position: relative;
  padding-left: 35px;
}
.popup .popup-sure li i {
  position: absolute;
  top: 0;
  left: 0;
  color: #999;
  line-height: 42px;
  margin-left: 10px;
}
.popup .popup-sure input[type='text'],
.popup .popup-sure input[type='password'],
.popup .popup-sure select,
.popup .popup-sure textarea {
  width: 96%;
  color: #555;
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid #f3f3f3;
  float: left;
  margin: 1px 0;
  padding: 5px 10px;
  margin-bottom: 10px;
}
.popup .popup-sure input[type='text'],
.popup .popup-sure input[type='password'] {
  height: 47px;
  padding: 5px 10px;
}
.popup .popup-sure textarea {
  height: 55px;
}
.popup .popup-sure select,
.popup .popup-sure option {
  cursor: pointer;
  padding: 13px 6px;
}
.popup .popup-sure .popup-sure-bottom {
  float: left;
  margin-top: 10px;
  margin-bottom: 5px;
  width: 100%;
}
.popup .popup-sure .popup-sure-bottom button {
  padding: 8px 0;
  font-size: 16px;
}
.popup .popup-sure .popup-sure-bottom button.fezocms {
  width: 55%;
}
.popup .popup-sure .popup-sure-bottom button {
  width: 39%;
}
.popup .popup-sure .popup-sure-content {
  float: left;
  width: 100%;
  color: #bbb;
  padding-top: 17px;
  padding-bottom: 17px;
}
.popup .popup-sure .popup-sure-header {
  float: left;
  width: 100%;
}
.popup .popup-sure .popup-sure-header .close {
  line-height: 25px;
  font-size: 20px;
  margin-top: 2px;
  color: #999;
  cursor: pointer;
  margin-right: 5px;
  float: right;
}
.popup .popup-sure .popup-sure-header h1 {
  float: left;
  color: #666;
  font-size: 22px;
  font-weight: 400;
}
.popup .input-toast {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  padding: 9px 12px;
  border-radius: 4px;
  font-size: 12px;
  color: #eee;
  cursor: default;
  background: rgba(255, 58, 43, 0.82);
}
.popup .input-toast.success {
  background: rgba(60, 176, 52, 0.82);
}
.popup .input-toast.success #js-i {
  color: rgba(60, 176, 52, 0.82) !important;
}
.popup .input-toast.success p i {
  color: rgba(60, 176, 52, 0.82) !important;
}
.popup .input-toast .input-toast-up {
  position: relative;
}
.popup .input-toast .input-toast-up #js-i {
  position: absolute;
  top: -17.8px;
  font-size: 20px;
  color: rgba(255, 58, 43, 0.82);
}
.popup .input-toast p i {
  font-size: 12px;
  background-color: #fff;
  border-radius: 100%;
  color: rgba(255, 58, 43, 0.82);
  margin-right: 6px;
  position: relative;
  top: -1px;
  padding: 0px 1px;
}
.popup .toast {
  color: #fff;
  text-align: center;
  z-index: 99999;
  position: fixed;
  top: 20%;
  left: 0;
  height: 45px;
  line-height: 45px;
  width: 100%;
}
.popup .toast p {
  font-size: 14px;
  padding: 0 30px;
  border-radius: 4px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup .toast.open {
  -webkit-animation: bounceInDown 0.5s;
  -moz-animation: bounceInDown 0.5s;
  -ms-animation: bounceInDown 0.5s;
  animation: bounceInDown 0.5s;
}
@-webkit-keyframes bounceInDown {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0, -100%, 0);
  }
  60% {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0, 8%, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -5%, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 2.5%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes bounceInDown {
  0%,
  60%,
  75%,
  90%,
  100% {
    -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-transform: translate3d(0, -100%, 0);
  }
  60% {
    opacity: 1;
    filter: alpha(opacity=100);
    -moz-transform: translate3d(0, 8%, 0);
  }
  75% {
    -moz-transform: translate3d(0, -5%, 0);
  }
  90% {
    -moz-transform: translate3d(0, 2.5%, 0);
  }
  100% {
    -moz-transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes bounceInDown {
  0%,
  60%,
  75%,
  90%,
  100% {
    -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -o-transform: translate3d(0, -100%, 0);
  }
  60% {
    opacity: 1;
    filter: alpha(opacity=100);
    -o-transform: translate3d(0, 8%, 0);
  }
  75% {
    -o-transform: translate3d(0, -5%, 0);
  }
  90% {
    -o-transform: translate3d(0, 2.5%, 0);
  }
  100% {
    -o-transform: translate3d(0, 0, 0);
  }
}
@-ms-keyframes bounceInDown {
  0%,
  60%,
  75%,
  90%,
  100% {
    -ms-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-transform: translate3d(0, -100%, 0);
  }
  60% {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-transform: translate3d(0, 8%, 0);
  }
  75% {
    -ms-transform: translate3d(0, -5%, 0);
  }
  90% {
    -ms-transform: translate3d(0, 2.5%, 0);
  }
  100% {
    -ms-transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInDown {
  0%,
  60%,
  75%,
  90%,
  100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate3d(0, -100%, 0);
  }
  60% {
    opacity: 1;
    filter: alpha(opacity=100);
    transform: translate3d(0, 8%, 0);
  }
  75% {
    transform: translate3d(0, -5%, 0);
  }
  90% {
    transform: translate3d(0, 2.5%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.popup .toast.close {
  -webkit-animation: bounceOutUp 1s;
  -moz-animation: bounceOutUp 1s;
  -ms-animation: bounceOutUp 1s;
  animation: bounceOutUp 1s;
}
@-webkit-keyframes bounceOutUp {
  20% {
    -webkit-transform: translate3d(0, -10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0, -2000px, 0);
  }
}
@-moz-keyframes bounceOutUp {
  20% {
    -moz-transform: translate3d(0, -10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    filter: alpha(opacity=100);
    -moz-transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-transform: translate3d(0, -2000px, 0);
  }
}
@-o-keyframes bounceOutUp {
  20% {
    -o-transform: translate3d(0, -10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    filter: alpha(opacity=100);
    -o-transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 0;
    filter: alpha(opacity=0);
    -o-transform: translate3d(0, -2000px, 0);
  }
}
@-ms-keyframes bounceOutUp {
  20% {
    -ms-transform: translate3d(0, -10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-transform: translate3d(0, -2000px, 0);
  }
}
@keyframes bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    filter: alpha(opacity=100);
    transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate3d(0, -2000px, 0);
  }
}
.popup .toast.hide {
  -webkit-animation: fadeOut 0.4s;
  -moz-animation: fadeOut 0.4s;
  -ms-animation: fadeOut 0.4s;
  animation: fadeOut 0.4s;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  100% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  100% {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  100% {
    opacity: 0;
    filter: alpha(opacity=0);
    -o-transform: translate3d(0, 0, 0);
  }
}
@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  100% {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  100% {
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate3d(0, 0, 0);
  }
}
.label {
  padding: 3px 5px;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid #eee;
}
.label.blue {
  border: none;
  background-color: #339BEB;
  color: #fff;
}
.label.danger {
  background-color: #ff5d4c;
  color: #fff;
  border: none;
}
.label.success {
  background-color: #34bf5e;
  color: #fff;
  border: none;
}
.widget-checkbox {
  float: left;
  width: 15px;
  height: 15px;
  cursor: pointer;
  border: 1px solid #ddd;
  transition: all .2s;
  border-radius: 2px;
  position: relative;
}
.widget-checkbox:hover {
  border: 1px solid #339beb;
}
.widget-checkbox.active:after,
.widget-checkbox:hover:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  color: #339beb;
  font-size: 12px;
  position: absolute;
  top: 1px;
  left: 0.5px;
}
.widget-checkbox.active {
  border: 1px solid #6cbfff;
}
.widget-checkbox.active:after {
  color: #4ba8f0;
  content: "\f00c";
}
.widget-checkbox.two {
  border: 1px solid #72c1fd;
}
.widget-checkbox.two2 {
  border: 1px solid #cccccc;
}
.widget-checkbox.two2.active:after {
  color: #aaa;
  content: "\f00c";
}
.widget-checkbox.two2.active {
  border-color: #dddddd;
}
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  margin: .67em 0;
  font-size: 2em;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  overflow: visible;
  box-sizing: content-box;
  height: 0;
}
pre {
  font-size: 1em;
  font-family: monospace;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
code,
kbd,
samp {
  font-size: 1em;
  font-family: monospace;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000000;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-size: 100%;
  font-family: sans-serif;
  line-height: 1.15;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button;
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  margin: 0 2px;
  padding: .35em .625em .75em;
  border: 1px solid #c0c0c0;
}
legend {
  display: table;
  box-sizing: border-box;
  padding: 0;
  max-width: 100%;
  color: inherit;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}
[type=search] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
[hidden],
template {
  display: none;
}
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  font-family: '微软雅黑';
  font-size: 14px;
}
li {
  list-style-type: none;
}
input,
select,
textarea {
  outline: none;
  border: none;
}
*,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
