.type {
  padding: 4px 5px;
  color: #FFF;
  display: block;
  border-radius: 4px;
  font-size: 12px;
  float: left;
  background-color: #CCC;
}
.type.success {
  background-color: #34BF5E;
}
.type.danger {
  color: #FFF;
  background-color: #ff5D4C;
}
